body
{
    background-color: antiquewhite;
}

h1
{
    text-align: center;
}

img
{
    margin: auto;
    display: block;
  margin-bottom: 10px;
}

.recipe-description
{
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 5px, solid orangered;
    padding: 20px;
}