body
{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif
}
.recipes-list 
{
    width: 500px;
    margin: 0px auto;
}

.recipes-list.title
{
text-align: center;
}
    
